#maincontainer{
  height: 80vh;
  width: 500px;
  margin: auto;
  text-align: center;
  padding: 50px;
  color: yellow;
  background-color: grey;
  box-shadow: green;
}
#todobox{
  background-color: crimson;
  color: white;
} 
#button1,#button2{
  height: 5vh;
  width: 20vw;
  background-color: darkturquoise;
  font-size: large;
}